* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

html,
body {
    padding: 0;
    margin: 0;
    color: #ebebeb;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 3.5em;
    font-weight: 300;
    letter-spacing: 5px;
    padding: 0px 30px 0px 20px;
    margin-top: 50px;
}

h2 {
    font-weight: 300;
    letter-spacing: 5px;
}

a {
    text-decoration: none;
    color: blue;
}

ul {
    list-style-type: none;
    padding-left: 50px;
}

a {
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 30px;
    display: block;
    color: #000;
}

p {
    font-weight: 200;
}


/*main wrapping element, 100vh high to ensure it is always the correct size and then moved into place and padded with negative margin and padding*/
.Container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

/*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
*/
.Left,
.Right {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.Left::-webkit-scrollbar,
.Right::-webkit-scrollbar {
    display: none;
}

.Left {
    width: 50rem;
    background-color: lime;
    transition: background-color 0.3s;
    color: black;
}

.Right {
    width: 50rem;
    color: black;
}

.changeColor {
   background: #fff;
}

.Right h2 {
    padding: 20px 380px 20px 25px;
}

.Right p, h3 {
    text-align: left;
    justify-content: right;
    padding: 10px 30px 20px 300px;
}

.main {
    width: 100%;
    height: auto;
}

.logo {
    margin: -10px 0px 0px -38px;
    position: absolute;
    overflow: visible;
}

.arrow {
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.mobile-hide {
    display: none;
}


/*MEDIA QUERIES*/


@media only screen and (max-width: 768px) {

div.Left{
    display: none;
}

h1 {
    font-size: 3.1em;
    padding: 50px 55px 0px 50px;
}

.Right h2 {
    padding: 20px 380px 20px 55px;
}

.logo {
    margin: -10px 0px 0px -8px;
    position: absolute;
    overflow: visible;
}

.mobile-hide{
    display:block;
}

/* MOBILE MENU */

.nav, .desktop {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
}

.icon {
    position: fixed;
    cursor: pointer;
    top: 5%;
    right: 0%;
    width: 40px;
    height: 45px;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
}

.hamburger {
    width: 40px;
    height: 4px;
    line-height: 50px;
    background: blue;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .5s;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: blue;
    border-radius: 5px;
    transition: .5s;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    top: 10px;
}

.icon.active .hamburger {
    background: rgba(0,0,0,0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}

.menu-mobile {
    background-color: lime;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 150px;
    padding-left: 20px;
    overflow-y: scroll;
}

.menu-mobile, .menu-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}

.menu-mobile a {
    clear: right;
    text-decoration: none;
    color: #333;
    height: 70px;
    line-height: 20px;
}

.menu-mobile a:hover {
    color: blue;
}

.desktop, .menu-desktop, .menu-mobile {
        display: none;
    }
}



@media only screen and (max-device-width: 425px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */

h1 {
    font-size: 2.1em;
    font-weight: 100;
    padding: 20px 55px 0px 50px;
}

.Right h2 {
    padding: 20px 380px 20px 55px;
}

.Right p, h3 {
    text-align: left;
    justify-content: left;
    padding: 10px 30px 20px 30px;
}
}


@media only screen and (max-device-width: 360px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */

}
